@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    background-color: #f2f2f2;
    font-family: 'Quicksand', sans-serif;
    background-size: cover;
}

header {
    border: black;
    color: white;
}

.lista-r {
    float: right;
}

.titulo_y_logo {
    height: 400px;
    width: 100%;
    background-image: url(../assests/fondo.avif);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    justify-content: space-around;
    display: inline-flex;
    filter: brightness(70%);
    filter: contrast(100%);
    text-shadow: 1000px #000;
}

.logo {
    width: 220px;
    height: 220px;
    display: flex;
    margin-top: 60px;
    border-radius: 50px;
}

.logo img {
    border-radius: 50%;
}

.titulo {
    width: 700px;
    height: 220px;
    font-size: 30px;
    color: rgb(3, 31, 4);
    margin-top: 60px;
}


.subtitulo_principal {
    font-size: 25px;
    display: flex;
}

.subtitulos_varios {
    justify-content: space-around;
    display: flex;
    width: 100%;
    margin: 0px 10px;
}

.informacion_principal {
    display: block;
    max-width: 70vw;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.menusito {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 20px;
    position: relative;
    display: inline-block;
}

.menusito a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px 50px;
    background-color: #68a94a;
    border-bottom: #A0D995;
}

.menusito .ultimo {

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.menusito .primero {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.primero a:hover {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color:#78b35c;
    color: #fff;
}

.ultimo a:hover {

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #78b35c;
    color: #fff;

}

.mitad a:hover {
    background-color: #78b35c;
    color: #fff;
}

.inicio_sesion {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*todo lo que tenga que ver con letras*/
}

.inicio_sesion form {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 300px;
    padding: 5px;
}

.formulario {
    display: flex;
    flex-direction: column;
    /*lo que tiene que ver copn la cajita del formulario*/
    width: auto;

    /*todo lo que tenga que ver con letras*/
    font-size: 30px;
    color: white;
}

.unoporlinea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.formulario input {
    /*espacio entre los elementos dentro del formulario*/
    margin-bottom: 40px;
    border: 2px solid black;
}

.inicio_sesion button {
    background-color: #66dc70;
    font-size: 20px;
    margin-left: 30px;
}

.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 45px;
}

.formulario__label {
    display: block;
    padding: 10px 0;
}

.formulario__grupo-input {
    position: relative;
}

.formulario__input {
    width: 90%;
    border-radius: 5px;
    background-color: #f2f2f2;
    border: 1px solid gray;
    color: black;
    font-size: 15px;
    outline: none;
    line-height: 45px;
    padding: 0 10px;
    transition: all 1s;
}

.formulario__validacion-estado {
    position: absolute;
    right: 45px;
    bottom: 15px;
    z-index: 1000;
    font-size: 16px;
    opacity: 0;
}

.formulario__input:focus {
    box-shadow: 0 0 5px #035f22;
}

.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__span {
    font-size: 1.1em;
    font-weight: 100;
}

.formulario__checkbox {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 10px;
}

.formulario__grupo-terminos {
    text-align: center;
}

.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__grupo-btn-enviar {
    grid-column: span 2;
}

.formulario__mensaje {
    display: none;
    /* height: 45px; */
    /* line-height: 45px; */
    padding: 15px;
    border-radius: 5px;
    background: #f00;
    text-align: center;
}

.formulario__mensaje-activo {
    display: block;
}

.formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__btn {
    padding: 15px 35px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.formulario__btn:hover {
    background: green;
    transition: 1s;
}

.formulario__mensaje-exito {
    font-size: 2em;
    color: #20b80c;
    padding: 10px;
    text-align: center;
    display: none;
}

.formulario__mensaje-exito-activo {
    display: block;
}


/* --------------------------------------------- VALIDACIÓN ----------------------------------------- */
.formulario__grupo-correcto .formulario__validacion-estado {
    color: #29ee0f;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
    color: #ee0f0f;
}


.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: #ee0f0f;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
    border: 1px solid #ee0f0f;

}

::placeholder {
    color: black;
}

nav {
    margin: auto;
    background-color: rgba(255, 255, 255, 0);
    font-size: 20px;
    margin-top: 50px;
    width: 98vw;
}

.menu-horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: #68a94a;
    border-radius: 10px;
    justify-content: space-around;
    border-bottom: #42c04d;
    border-radius: 50px;
}

.menu-horizontal-x {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: #68a94a;
    border-radius: 10px;
    justify-content: space-around;
    border-bottom: #42c04d;
    border-radius: 50px;
}

.menu-horizontal .desplegable {
    color: white;
    margin-top: 3px;
}

.menu .lista {
    display: inline-block;
}

.lista-r {
    float: left;
}

.menu-horizontal-x>li>a {
    display: block;
    padding: 15px 20px;
    color: rgb(76, 129, 5);
    text-decoration: none;
    color: white;
}

.menu-horizontal-x>li:hover {
    background-color:hsl(101, 58%, 39%);
    border-radius: 5px;
}

.menu-horizontal>li>a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
}

.menu-horizontal>li:hover {
    background-color:  rgb(163, 209, 102);
    border-radius: 5px;
    padding: 0px;
    color: #fff;
}

.menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: #68a94a;
    border-radius: 5px;

}

.menu-horizontal li:hover .menu-vertical {
    display: block;
}

.menu-horizontal-x li:hover .menu-vertical {
    display: block;
}

.menu-vertical li:hover {
    background-color: #C1D5A4;
    border-radius: 10px;
}

.menu-vertical li a {
    display: block;
    color: #68a94a;
    padding: auto;
    text-decoration: none;
    color: #fff;
}

.menu-horizontal li a:hover{
    color: #fff;
    font-weight: bolder;
}

.menu-vertical>li>a {
    color: rgb(255, 255, 255);
}

#registrarse {
    background: #fff;
    background-size: cover;
    justify-content: center;
    text-align: center;
}

.formulario {
    background-color: hsla(0, 0%, 95%, 0.843);
    color: black;
    width: auto;
    height: auto;
    padding: 30px 15px 15px 30px;
    border-radius: 40px;
    border: 2px solid black;

}
.formulariob {
    background-color: hsla(0, 0%, 95%, 0.843);
    color: black;
    width: auto;
    height: auto;
    padding: 30px 15px 15px 30px;
    border-radius: 40px;
    border: 2px solid black;
    position: relative;
}

main .formulariob {
    display: block;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
    top: 50%;
    left: 25%;
    margin-bottom: 0;
    transform: translate(-50%, -50%);
    margin-top: 480px;
    font-size: 18px;
}


.formulario__label {
    font-size: 30px;
}

#inicio_sesion {
    background: #fff;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}


#registrarse main {
    align-items: center;
    justify-content: center;
}

#informacion .menusito {
    width: 300px;
}

#informacion .menusito {
    display: flex;
    flex-direction: column;
}


.animales_boton {
    transition: 0.5s;
    margin-top: 15px;
    width: 300px;
    height: 30px;
    background-color: #124d17;
    border-radius: 20px;
}

.aumentar_animales{
    margin-top: 15px;
    width: 300px;
    height: 300px;
    background-image: url(../assests/Trogon-Enmascarado-1.webp);
    background-size: cover;
    border-radius: 20px;
    transition:.5s;
}

.plantas_boton {
    transition: 0.5s;
    margin-top: 15px;
    width: 300px;
    height: 30px;
    background-color: #124d17;
    border-radius: 20px;
}

.aumentar_plantas {
    transition: 0.5s;
    margin-top: 10px;
    width: 300px;
    height: 300px;
    background-image: url(../assests/flores.jpg);
    background-size: cover;
    border-radius: 20px;
}

.hongos_boton {
    transition: 0.5s;
    margin-top: 15px;
    width: 300px;
    height: 30px;
    background-color: #124d17;
    border-radius: 20px;
}

.aumentar_hongos {
    transition: 0.5s;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
    background-image: url(../assests/hongo.jpg);
    background-size: cover;
    border-radius: 20px;
}

main {
    width: 80vw;
    height: auto;
    padding: 100px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
/* PIE DE PAGINA UWU >///< */
.Piedepagina{
   
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    
   
    
width: 100%;
background-color: #568f3c;
}
.Piedepagina .grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.Piedepagina .grupo1 .box figure{
    width: 100%;
    justify-content: space-around;

    display: flex;
    justify-content: center;
    align-items: center;
}
.Piedepagina .grupo1 .box figure img{
    width: 200px;
    border-radius: 50%;
   
}
.Piedepagina .grupo1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;

}
.Piedepagina .grupo1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.redsocial{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.Piedepagina .grupo1 .redsocial a{
    display: inline-flex;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: rgb(255, 255, 255);
    margin-right: 10px;
    align-items: center;
    text-align: center;
    transition: all 300ms ease;
    border-radius: 9.5px;
    justify-content: center;
    text-align: center;
}
.Piedepagina .grupo1 .redsocial:hover{
color: aqua;
}
.Piedepagina .grupo2{
    border-radius: 5px;
    background-color: #3b6826 ;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.Piedepagina .grupo2 small{
    font-size: 15px;

}
@media screen and (max-width:800px){
    .Piedepagina .grupo1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}
#animales img{
    border-radius: 5px 0px;
    width: 350px;
    height: cover;
}
#animales .tarjeta{
    width: 750px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    border: 2px solid gray;
    border-radius: 5px;
    margin-bottom: 20px;
}
#animales .informacion_tarjeta{
    color: #000;
    height: 100%;
    padding: 20px;
    justify-content: space-around;
    flex-direction: column;
    font-size: 20px;
}
#animales .informacion_tarjeta h5{
    font-weight: bold;
    font-size: 25px;
    margin: 0%;
    padding: 0%;
}
#animales .text-muted{
    font-weight: 900; 
    color: red;
    font-size: 35px;
}
#animales main .derecha{
    margin-left: 20px;
    width: auto;
}
.negrilla-roja{
    color: red;
    font-size: larger;
}
.negrilla-verde{
    font-size: 30px;
    color: rgb(3, 31, 4);
    font-weight:bold;
} 
/* buscador */
.buscador{
    border: 2px solid #3b6826;
    border-radius: 50px;
    text-align: center;
    width: 100%;
    background-color: #f2f2f2;   
}

.buscador::placeholder{
    color: #5c615c;
}

.titulo-info-santa-elena{

    color: rgb(81, 255, 0);
}

.info-santa-elena{
    margin-top: 100px;
    margin-bottom: 50px;
}

.adv{
    color: rgb(255, 0, 0);
    -webkit-text-stroke: 1px rgb(255, 0, 0);
    
    
}

.filtro{
    display: none;
}
/*
@media(max-width: 1400px) {

    .jelu {
        width: 1200px
    }

}


@media(max-width: 1200px) {

    .jelu {
        width: 900px
    }

}



@media(max-width: 900px) {
    .jelu {
        width: 100%
    }

    .jelu {
        width: 100%;
        display: block;
    }


} */

.indice{
    border: 3px solid #5ba738;
    border-radius: 5px;
    list-style: none;
    padding: 0;
}

.indiceContenido1{
    background-color: #f2f2f2;
}

.indiceContenido2{
    background-color:#B2B2B2;
}

.indice a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    padding: 25px;
}

#inicio .carrusel__elemento img{
    width:500px;
    height: 300px;
}

/* Carrusel */

.carrusel__contenedor{
    position: relative;
    padding: 0px 100px;
}

.carrusel__anterior,
.carrusel__siguiente{
    position: absolute;
    display: block;
    width:30px;
    height: 30px;
    border: none;
    top: calc(50% - 35px);
    cursor: pointer;
    line-height: 30px;
    text-align:center;
    background: green;
    color:#fff;
    opacity:20%;
    border-radius: 50%;
}

.carrusel__anterior:hover,
.carrusel__siguiente:hover{
    opacity: 100%;
}

.carrusel__siguiente{
    right: 20px;
}

.carrusel__anterior{
    left:20px;
}

.carrusel__lista {
    overflow: hidden;
}

.carrusel__elemento{
    text-align:center;
}

.carrusel__indicadores .glider-dot{
    display:block;
    width:30px;
    height:4px;
    background-color: green;
    opacity: .2;
    border-radius: 0;
}

.carrusel__indicadores .glider-dot:hover{
    opacity: .5;
}

.carrusel__indicadores .glider-dot.active{
    opacity:.5;
}

/* página de reseñas */

#reseñas .comentarios{
    margin-top: 120px;
    margin-bottom: 120px;
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#reseñas .btn{
    background-color:rgba(0,148,44, 0.85);
    border: transparent;
}

#reseñas .dejarComentarios{
    width:75%;
}

#reseñas .comentarios{
    width: 100%;
}

#reseñas .comentariosComunidad{
    width: 63%;
}

#reseñas .card{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

/* Barra de scroll */

::-webkit-scrollbar{
    width:15px;
    border-radius:10px;
}

::-webkit-scrollbar-track{
    border: 2px solid #5ba738;
    box-shadow: inset 0 0 2.5px 2px rgba(0,0,0,0);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(
        45deg,
        #2f5c1d,
        #79ff6c
    );
    border-radius: 10px;
}

.info_sobre_nosotros{
    width: 70%;
    text-align: justify;
}
